[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "file2meco"]
	path = file2meco
	url = https://github.com/chiliubio/file2meco
[submodule "meconetcomp"]
	path = meconetcomp
	url = https://github.com/chiliubio/meconetcomp
[submodule "mecoturn"]
	path = mecoturn
	url = https://github.com/chiliubio/mecoturn
[submodule "microeco"]
	path = microeco
	url = https://github.com/chiliubio/microeco
